{erl_opts, [debug_info]}.
{deps, [
    {'telemetry', {git, "https://github.com/beam-telemetry/telemetry", {tag, "v1.2.1"}}},
    {'prometheus', {git, "https://github.com/deadtrickster/prometheus.erl", {tag, "v4.10.0"}}},
    {'prometheus_httpd', {git, "https://github.com/deadtrickster/prometheus-httpd", {tag, "v2.1.11"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [db_ets_erl]}
]}.
